<!DOCTYPE html>
<html>
  <head>
    <title>{{title}} - {{site_title}}</title>
    <link rel="stylesheet" href="../style/base-min.css" type="text/css">
    <link rel="stylesheet" href="../style/main.css" type="text/css">
    <link href="http://alexgorbatchev.com/pub/sh/current/styles/shThemeDefault.css" rel="stylesheet" type="text/css" />
    <script src="http://alexgorbatchev.com/pub/sh/current/scripts/shCore.js" type="text/javascript"></script>
    <script src="http://alexgorbatchev.com/pub/sh/current/scripts/shAutoloader.js"
    type="text/javascript"></script>
    <script type="text/javascript">
      SyntaxHighlighter.config.tagName = "code";
      $(function () {
        SyntaxHighlighter.findElements = function()
        SyntaxHighlighter.all();
      })
    </script>
  </head>
  <body>
    <div id="header">
      <div id="account"></div>      
      <h1><strong><a href="../page/index">{{site_title}}</a>:</strong> <a href="{{path}}">{{title}}</a></h1>
    </div>
    <div id="profile"></div>
